{% extends 'main/base.html' %}

{% block title %}投稿の編集{% endblock %}

{% block content %}

<h1 class="mb-4">投稿の編集</h1>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label for="{{ form.content.id_for_label }}" class="form-label">内容</label>
        {{ form.content.errors }}
        <textarea 
            name="{{ form.content.name }}" 
            id="{{ form.content.id_for_label }}" 
            class="form-control" 
            rows="5">{{ form.content.value }}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">編集を保存</button>
</form>

{% endblock content %}